<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Retail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <h1>Online Retail</h1>
        <div class="row">
        {% for product in data %}
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ product.2 }}</h5>
                  <p class="card-text">Unit Price - {{ product.5 }} | Quantity - {{ product.3 }}
                      <br>
                      <span class='text-primary'>{{ product.7 }}</span>
                      <br>
                      Invoice Date -{{ product.4 }}
                  </p>
                  <a href="#" class="btn btn-primary">Get Recommendations</a>
                </div>
              </div>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>