{% extends 'base.html' %}

{% block content %}
  <div class="row">
    {% for product in data %}
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ product.2 }}</h5>
              <p class="card-text">Unit Price - {{ product.4 }} | Quantity - {{ product.3 }}
                  <br>
                  <span class='text-primary'>{{ product.5 }}</span>
                  <br>
                  Invoice Date - {{ product.6 }}
              </p>
              <a href="{% url 'recommend' product.2 product.3 product.4 product.7 %}" class="btn btn-primary">Get Recommendations</a>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}