{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">
        <div class="col">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ description }}</h5>
                <p class="card-text">Unit Price - {{ unit_price }} | Quantity - {{ quantity }}
                    <br>
                    <span class='text-primary'>{{ country }}</span>
                    <br>
                </p>
            </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container text-left">
        <h3>Products Related to "{{ description }}"</h3>
        <div class="recommendations container">
            <div class="row">
                {% for product in recommendations %}
                <div class="col-md-3 text-center">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{ product.1 }}</h5>
                        <p class="card-text">Unit Price - {{ product.3 }} | Quantity - {{ product.2 }}
                            <br>
                            <span class='text-primary'>{{ product.4 }}</span>
                            <br>
                        </p>
                        <a href="{% url 'recommend' product.1 product.2 product.3 product.5 %}" class="btn btn-primary">Get Recommendations</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}